#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  align-content: center;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  background-image: url("https://wallpaper.dog/large/10858639.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center bottom 5px;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Welcome paragraph and heading styles */
.welcome-paragraph {
  font-size: 25px;
  padding: 10px;
  margin: 0 50px;
  border-radius: 20px;
  backdrop-filter: blur(80px);
}

.welcome-header {
  font-size: 40px;
}

.meet-puppers,
.add-a-pup {
  font-size: 24px;
  font-weight: bold;
  padding: 30px;
}

.meet-puppers {
  color: #a79494;
}

.add-a-pup {
  color: #333333;
}

/* Button styles */
.click-here-button {
  background-color: #295556;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.click-here-button:hover {
  background-color: #12dbdb;
}

/* Containers styles */
.meet-and-pic,
.roster-and-button,
.form-container,
.single-Card {
  backdrop-filter: blur(80px);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 2px solid #ccc;
  border-radius: 20px;
}



/* Single card styles */
.single-Card {
  display: flex;
  justify-content: center;
  background-color: #272928;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Heading styles */
h3 {
  font-size: 25px;
}

img {
  max-width: 250px; 
  max-height: 250px;
  min-height: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
